@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");

.cuesection1 {
  padding-top: 25%;
}
.cueclass {
  text-align: center;
  padding-bottom: 5%;
  font: 3em "Raleway", sans-serif;
  text-shadow: 1px 2px #595959;
}

.cuesection1 .indivcue1 {
  padding-left: 10%;
}
.cuesection1 .indivcue1 #cuevideo1 {
  max-width: 400px;
  max-height: 300px;
  border: 7px solid #595959;
  border-radius: 10px;
}

.cuesection1 .indivcue1 #aboutcue1 {
  padding-right: 10%;
  font: 1.2em "Raleway", sans-serif;
  float: right;
}

.cuesection2 .indivcue2 {
  padding-top: 2.5%;
  padding-right: 10%;
}

.cuesection2 .indivcue2 #cuevideo2 {
  float: right;
  max-width: 400px;
  max-height: 300px;
  border: 7px solid #595959;
  border-radius: 10px;
}

.cuesection2 .indivcue2 #aboutcue2 {
  padding-left: 10%;
  padding-top: 2.5%;
  font: 1.2em "Raleway", sans-serif;
  float: left;
}
