@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");
.videocueinfo {
  padding-right: 5%;
  font: 1.8em "Raleway", Sans-serif;
}

/* .videocueinfo #video-info-SD {
  padding-top: 5%;
  padding-bottom: 5%;
}

.videocueinfo #video-info-SA {
  padding-top: 5%;
  padding-bottom: 5%;
}

.videocueinfo #video-info-FW {
  padding-top: 5%;
  padding-bottom: 5%;
} */

.videocueinfo #SD-good {
  text-align: center;
  border: 3px solid;
  border-color: black;
  padding: 6px;
  border-radius: 12px;
}

.videocueinfo #SA-good {
  text-align: center;
  border: 3px solid;
  border-color: black;
  padding: 6px;
  border-radius: 12px;
}

.videocueinfo #FW-good {
  text-align: center;
  border: 3px solid;
  border-color: black;
  padding: 6px;
  border-radius: 12px;
}
