@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");
.videocueinfo {
  padding-right: 5%;
  font: 2.5em "Raleway", Sans-serif;
}

.videocueinfo #video-info-SD {
  padding-top: 5%;
  padding-bottom: 5%;
}

.videocueinfo #video-info-SA {
  padding-top: 5%;
  padding-bottom: 5%;
}

.videocueinfo #video-info-FW {
  padding-top: 5%;
  padding-bottom: 5%;
}

.videocueinfo #video-info-KA {
  padding-top: 5%;
  padding-bottom: 5%;
}



.videocueinfo {
  float: right;
}

.videocueinfo #SD-good {
  text-align: center;
  border: 3px solid;
  border-color: black;
  padding: 6px;
  border-radius: 12px;
}

.videocueinfo #SA-good {
  text-align: center;
  border: 3px solid;
  border-color: black;
  padding: 6px;
  border-radius: 12px;
}

.videocueinfo #FW-good {
  text-align: center;
  border: 3px solid;
  border-color: black;
  padding: 6px;
  border-radius: 12px;
}

.videocueinfo #KA-good {
  text-align: center;
  border: 3px solid;
  border-color: black;
  padding: 6px;
  border-radius: 12px;
}

.PoseNet #posenetCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.calibration-container {
  font: 3.5em "Raleway", Sans-serif;
}

.rep-container {
  font: 3.5em "Raleway", Sans-serif;
}
